<div class="container">

    <h2 class="selection">Holiday Arrangements</h2>
    <div class="row">
        <div class="col-md-4" ng-repeat="flower in flowerArray" ng-if="flower.category == 'holiday'">

            <h3>{{flower.title}}</h3>
            <h4>${{flower.price}}</h4>
            <h5>Description:{{flower.description}}</h5>
        </div>
    </div>

    <div class="row">
        <h2 class="selection">Bereavement Arrangements</h2>
        <div class="col-md-4" ng-repeat="flower in flowerArray" ng-if="flower.category == 'bereavement'">
            <h3>{{flower.title}}</h3>
            <h4>${{flower.price}}</h4>
            <h5>Description:
                {{flower.description}}</h5>
        </div>
    </div>

    <div class="row">
        <h2 class="selection">Misc. Arrangements</h2>
        <div class="col-md-4" ng-repeat="flower in flowerArray" ng-if="flower.category == 'misc'">
            <h3>{{flower.title}}</h3>
            <h4>${{flower.price}}</h4>
            <h5>Description:
                {{flower.description}}</h5>
        </div>
    </div>
</div>
</div>

<!-- <h4>Misc. Arrangements</h4>
  <div class="card col-md-3"ng-repeat="flower in flowerArray" >
  <div ng-if="flower.category == 'misc'">
    <h2>{{flower.title}}</h2>
    <h3>${{flower.price}}</h3>
    <h4>Category:{{flower.category}}</h4>
    <h5>Description: {{flower.description}}</h5>
  </div>

</div>
</div> -->
